@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    /* Border Colors are all transparent colors. These will tint or shade the background color of the square. */
    --border-left-color: rgba(255, 255, 255, 0.20);
    --border-top-color: rgba(255, 255, 255, 0.33);
    --border-right-color: rgba(0, 0, 0, 0.15);
    --border-bottom-color: rgba(0, 0, 0, 0.5);

    /* Square Colors:  background colors for the squares.*/
    --color-grey: #808080;
    --color-red: #b40d0d;
    --color-green: #95ff85;
    --color-dark-grey: #353535;
    --color-purple: #66009d;
    --color-brown: #583200;
    --color-blue: #002fff;
    --color-dark-green: #004d00;
    --color-yellow: #f9d237;
    --color-teal: #00b3b3;

    --cols: 12;

    /* Numbers define values that will be used throughout the CSS.
    --tile-size: 20px for example will set size of the grid squares. */

    --tile-size: 15px;
    --border-width: 1px;
}

/* Colors */
.color-grey {
    background-color: var(--color-grey);
}

.color-red {
    background-color: var(--color-red);
}

.color-green {
    background-color: var(--color-green);
}

.color-dark-grey {
    background-color: var(--color-dark-grey);
}

.color-purple {
    background-color: var(--color-purple);
}

.color-brown {
    background-color: var(--color-brown);
}

.color-blue {
    background-color: var(--color-blue);
}

.color-dark-green {
    background-color: var(--color-dark-green);
}

.color-yellow {
    background-color: var(--color-yellow);
}

.color-teal {
    background-color: var(--color-teal);
}


/* Grid Square */
.grid-square {
    border-style: solid;
    width: var(--tile-size);
    height: var(--tile-size);
    border-width: var(--border-width);
    border-left-color: var(--border-left-color);
    border-top-color: var(--border-top-color);
    border-right-color: var(--border-right-color);
    border-bottom-color: var(--border-bottom-color);
}

* {
    box-sizing: border-box;
}

.grid-board {
    display: grid;
    grid-template-columns: repeat(var(--cols), var(--tile-size));
    grid-gap: 0;
    align-self: flex-start;
}